
.filterContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 90%;
	align-content: center;
	text-align: center;
}

.showFilter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.select {
	background-color: rgba(136, 136, 136, 0.253);
	border: none;
	font-size: large;
	text-align: center;
	height: 25px;
	border-radius: 4px;
}

.select:hover {
	background-color: rgba(136, 136, 136, 0.50);
}

.btnX {
	color: white;
	height: 25px;
	width: 25px;
	background-color: rgba(0, 0, 0, 0.7);
	border-style: none;
}

.p {
	color: white;
	height: 25px;
	background-color: rgba(27, 44, 29, 0.794);
	border-style: none;
	padding: 5px;
}

.filtersRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
